<div class="box">
  <div class="box-header">
    <h3 class="box-title">Members</h3>
  </div>

  <div class="box-body">
    <table id="members" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th width='5px'>#</th>
          <th>Photo</th>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each_with_index do |member, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td></td>
            <td><%= member.username %></td>
            <td><%= member.firstname %></td>
            <td><%= member.lastname %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
